<section>
  <div class="action_lable">
    <ul>
      <li><button nz-button nzType="primary" [nzSize]="size" (click)="onFilterModal()">
        <i nz-icon nzType="filter" nzTheme="outline"></i>
        Lọc
      </button></li>

      <li id="fc_btn" *ngFor="let item of controlAction; let i = index"><button nz-button nzType="primary" [nzSize]="size"  (click)="btnAction(item.id)">
        {{item.name}}
        <i nz-icon [nzType]="type" nzTheme="outline"></i>
      </button>
      </li>
    </ul>
  </div>
</section>
<div class="lable-space"></div>
<section>
  <div class="main__product">
    <div class="box-product">
      <div class="sort-product">
        <p>Sắp xếp theo: </p>
        <a><i nz-icon nzType="arrow-down" nzTheme="outline"></i> Giá thấp</a>
        <a><i nz-icon nzType="arrow-up" nzTheme="outline"></i> Giá cao</a>
      </div>
      <div class="home-product" >
        <!-- product item  -->
        <div class="product-item" *ngFor="let item of getOfProductOfListData">
          <div class="item" *ngIf="countProduct > 0">
            <a [routerLink]="'/dien-thoai/'+ item.id">
              <div class="lable-item"  *ngFor="let brand of getOfBrandData">
                  <div class="img-lable-item" *ngIf="item.branD_ID == brand.id">
                    <img [src]="brand.image" alt="">
                  </div>
                <div><span *ngIf="item.branD_ID == brand.id">Sale {{item.sale}}%</span></div>
              </div>
              <div class="img-item">
                <img
                  [src]="item.image"
                  alt=""
                />
              </div>
              <div class="result-item-sale"></div>
              <h3>{{item.name}}</h3>
              <div class="mini-option">

              </div>
              <div class="brand-item" *ngFor="let brand of getOfBrandData">
                <a href="#" *ngIf="item.branD_ID === brand.id">{{brand.name}}</a>
              </div>
              <div class="price-item">
                <p class="price">{{item.saleprice === 0 ? (item.price | currency: "VND") : (item.saleprice | currency: "VND") }}</p>
                <p class="old-price">{{item.saleprice === 0 ? "" : item.price | currency: "VND"}}</p>
              </div>
              <div class="vote-item">
                <!-- <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>
                <span *ngIf="value" class="ant-rate-text">{{ value }}</span> -->
              </div>
            </a>
          </div>
        </div>
        <!-- button item view all product  -->
        <div class="view-products-item"></div>
        <!-- end button item  -->
      </div>
      <div  *ngIf="countProduct === 0">
        <br><br>
        <nz-empty [nzNotFoundContent]="contentTpl" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
          <ng-template #contentTpl>
            <span>
              Không có sản phẩm nào!!
            </span>
          </ng-template>
        </nz-empty>
      </div>

    </div>

    <div class="action-left">
      <nz-card class="nz__card" nzType="inner" nzTitle="Hãng" >
        <div class="item-brand">
          <a *ngFor="let item of getOfBrandData" (click)="getProductOfBrand(item.id)">
            <div class="brand__box">
              <div class="image_item">
                <img [src]="item.image" alt="">
              </div>
            </div>
          </a>
        </div>
      </nz-card>
      <!-- <nz-card class="nz__card" nzType="inner" nzTitle="Mức giá" >
        <div class="item-csll">
          <a *ngFor="let item of priceAction"><span>{{item.name}}</span></a>
        </div>
      </nz-card>
      <nz-card class="nz__card" nzType="inner" nzTitle="Loại" >
        <div class="item-csll">
          <a *ngFor="let op1 of getOfOption1Data">{{op1.name}}</a>
          <a *ngFor="let op2 of getOfOption2Data">{{op2.name}}</a>
          <a *ngFor="let op3 of getOfOption3Data">{{op3.name}}</a>

        </div>
      </nz-card>
      <nz-card class="nz__card" nzType="inner" nzTitle="Công suất làm lạnh" >
        <div class="item-csll">
          <a>9000 BTU</a>
          <a>12000 BTU</a>
          <a>16000 BTU</a>
          <a>18000 BTU</a>
          <a>24000 BTU</a>
        </div>
      </nz-card>
      <nz-card class="nz__card" nzType="inner" nzTitle="Phạm vi hiệu quả" >
        <div class="item-csll">
          <a>35 - 40m2</a>
          <a>35 - 40m2</a>
          <a>35 - 40m2</a>
          <a>35 - 40m2</a>
          <a>35 - 40m2</a>
          <a>35 - 40m2</a>
        </div>
      </nz-card> -->
    </div>
  </div>
</section>
