<nz-table
#rowSelectionTable
nzShowSizeChanger
[nzData]="listOfData"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
<thead>
  <tr>
    <th
      [nzSelections]="listOfSelection"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>Mã đơn hàng</th>
    <th style="width: 20%">Tên khách hàng</th>
    <th style="width: 10%;">Ngày đặt</th>
    <th>Hình thức</th>
    <th>Trạng thái</th>
    <th>Hành động</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data; index as i">
    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td>DONHANG{{i + 1}}</td>
    <td>{{data.name}}</td>
    <td>10-06-2022 14:31:20</td>
    <td>Chuyển khoản</td>
    <td>Đang giao</td>
    <td class="icon_action">
        <i nz-icon nzType="info-circle" nzTheme="outline" title="Chi tiết" (click)="onEventDetail(data.id)"></i>
        <i nz-icon nzType="delete" nzTheme="outline" title="Xóa"></i>
    </td>
  </tr>
</tbody>
</nz-table>
