<div class="button-add">
  <button nz-button [nzSize]="size" nzType="primary" (click)="onAdd()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Thêm mới
  </button>
</div>
<nz-table
#rowSelectionTable
nzShowSizeChanger
[nzData]="listOfData"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
<thead>
  <tr>
    <th
      [nzSelections]="listOfSelection"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>#</th>
    <th style="width: 20%">Họ tên</th>
    <th>Quyền hạn</th>
    <th>Hiển thị</th>
    <th>Hành động</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data; index as i">
    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td>{{i + 1}}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.address }}</td>
    <td><label nz-checkbox [ngModel]="false" [nzIndeterminate]="false"></label></td>
    <td class="icon_action">
        <i nz-icon nzType="edit" nzTheme="outline" title="Sửa" (click)="onEdit(data.id)"></i>
        <i nz-icon nzType="delete" nzTheme="outline" title="Xóa"></i>
    </td>
  </tr>
</tbody>
</nz-table>
