section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.banner-header {
  width: 100%;
  .banner{
    background-color: #00e7ff;
    height: 44px;
  }
  .hotline{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background: #007bff;
    position: fixed;
    left: 40px;
    bottom: 25px;
    z-index: 1;
    p{
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      margin: 0;
      font-size: 17px;

      a{
        color: #fff;
      }
    }
  }
}

.header__memu section{
  .header-content{
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;

    .mobile__menu{
      display: block;
      button{
        background: none;
        border: none;
        color: #fff;
        i{
          font-size: 20px;
        }
      }

    }

    .logo__header{
      width: 40%;
     .logo-header{
      p{
        font-size: 27px;
        font-weight: bold;
        margin: 0;
      }
     }
    }

    .form__search{
      width: 70%;
      padding-top: 3px;
      .nz__group{
        border-radius: 5px;
      }
      .input__search{
        width: 95%;
        height: 25px;
        border-radius: 5px;
        padding-left: 20px;
      }
    }

    .btn-menu{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 40px;

      a{
        color: #fff;
        font-weight: bold;
        line-height: 40px;

      }
      .header__login i{
        font-size: 20px;
      }
      .header__cart i{
        font-size: 20px;
      }
      .header__support i{
        font-size: 20px;
      }
      .header__hotline i{
        font-size: 20px;
      }
    }
  }
  .mobileHeader{
    display: none;
  }
}
.header__memu {
  background: #2196f3;
}
.header__main{
  background: #fff;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.header__main section{
  display: flex;
  justify-content: flex-start;
  height: 44px;
  line-height: 44px;
  .category{
    display: flex;
    width: 25%;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    .category__txt{
      cursor: pointer;
      width: 45%;
      padding-left: 10px;
      padding-bottom: 10px;
      i{
        padding-left: 4px;
      }
      .bar-top-left-home{
        position: relative;
        display: none;

        .sub__menu {
          position: absolute;
          list-style-type: none;
          background: #fff;
          margin: 0;
          padding: 0;
          width: 239px;
          left: -10px;
          margin-top: 0;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          box-shadow: 0 0 1px rgb(0 0 0 / 25%);
          z-index: 1;
          .sub-menu-w{
            width: 535px;
            height: 280px;
            background: #fff;
            position: absolute;
            top: 0;
            z-index: -1;
            margin-left: 238px;
            display: none;
          }
        }
        .sub__menu .item1 .ctn-item-menu{
          display: block;
          line-height: 2;
          border-bottom: 1px solid #e1e1e1;
          position: relative;
          width: 100%;
          img{
            padding-left: 10px;
            width: 40px;;
          }
          a{
            padding-left: 10px;
            color: #000;
            i{
              font-size: 11px;
              color: #727272;
              float: right;
              margin-top: 9px;
              margin-right: 5px;
            }
          }
          .hv__sub1:hover{
            color: #1890ff;
            font-weight: bold;
          }
        }
        .sub__menu .item1:hover > .sub-menu-w {
          display: block;
        }
      }
    }
    .category__txt:hover > .bar-top-left-home{
      display: block;
    }
    .category__txt span {
      font-weight: bold;
    }
  }
  .sp__km{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
    p{
        span{
          border-left: 1px solid #cfcdcd ;
          width: 1px;
          height: 25px;
          margin-left: 12px;
          margin-right: 9px;
        }
    }
  }
}
.home-banner{
  padding-top: 10px;
  .crs-inner{
    width: 100%;
    .carousel-inner{
      img{
        height: 350px;
        object-fit: contain;
      }
    }
  }
  .img-banner{
    height: 350px;
    object-fit: contain;
  }

}
footer{
  height: auto;
  width: 100%;
  background: rgb(255, 255, 255);
  border-top: 1px solid #ddd;
  margin-top: 10px;
  .coppy-right-footer{
    width: 100%;
    background: #dbdbdb;
    height: auto;
    .coppy-r{
      color: #878787;
      font-size: 13px;
      padding-top: 16px;
      padding-bottom: 1px;
    }
  }
  .flex__footer{
    .top-footer{
      display: flex;
      padding-bottom: 20px;
      padding-top: 15px;
      flex-wrap: wrap;

      .box-footer{
        width: 300px;
        height: auto;
        p{
          font-size: 14px;
          font-weight: bold;
          color: #2196f3;
          padding-bottom: 5px;
        }
        ul{
          list-style-type: none;
          li a:hover{
            color: #2872ff;
          }
          li a{
            color: rgb(56, 56, 56);
            text-decoration: none;
            font-size: 14px;
            line-height:2;
          }
        }
        // background: #fff;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  /* For mobile phones: */
  .header__memu{
    padding: 0px 5px 0 5px;
  }
  .header__memu section{
    .header-content{
      display: none;
      .logo__header{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .form__search{
        width: 100%;
      }
    }
    .mobileHeader{
      display: block;
    }
    .mobileForm{
      margin: auto;
      display: flex;
      .cart-mobile{
        padding: 2px 10px 0 10px;
        i{
          font-size: 30px;
          color: #fff
        }
      }
    }
  }
  .header__main{
    display: none;
  }

  footer{
    .flex__footer{
      .top-footer {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .coppy-right-footer{
      .coppy-r{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

}

@media screen and (max-width:768px) {

}
