.layout{
  width: 100%;
  height: auto;
  border: 1px solid #f0f0f0;
  background: #f9f9f9;
  padding: 0px 15px 0 15px;
  margin-bottom: 24px;
  // .form{

  // }
}

.flexF{
  display: flex;
  padding-top: 1rem;
  .fctrl{
    height: 35px;
    font-size: 13px;
    border-radius: 6px;
  }
}
.lableWidth{
  width: 40%;
  color: #246dbc;
  font-weight: bold;
  margin-top: 5px;
}
.line_lable{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f0f0f0;
}
form{
  button{
    height: 35px;
    margin-right: 0.5rem;
    border-radius: 5px;
    line-height: 0;
  }
}

.form-checkbox{
  display: flex;
  justify-content: center;
  .checkBox{
    display: flex;
    width: 20%;
    padding-top: 21px;
    .lableWidthCheckBox{
      color: #246dbc;
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}
.ww-262{
  width: 262px !important;
}
.bd-6{
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.btn_form{
  margin-left: 29%;
  button{
    height: 35px;
    margin-right: 0.5rem;
    border-radius: 5px;
    line-height: 0;
  }
}

.errorImage{
  border-color: red;
}

input{
  &.ng-invalid{
    &.ng-touched{
      border: solid 1px red;
    }
  }

}
.errMessage{
  color: red;
  padding-left: 29%;
}
